body {
    margin: 15px;
}

.calendar-body {
    margin-top: 40px;
}

.week-block {
    margin: auto 0;
}

.day-block {
    border: 1px solid #cccccc;
    height: 100px;
    width: 14%;
    margin-left: auto;
    margin-right: auto
}

div.active{
    background-color: #d58512;
}
.weekends{
    background-color: #999999;
}