<nav class="row navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 navbar-text">
                <label for="month-input">Month:</label>
                <select id="month-input" ng-model="selectedMonth" ng-options="month.name for month in months"
                        data-value="month.id"></select>


            </div>
            <div class="col-lg-8 navbar-text">
                <label for="year-input">Year:</label>
                <select id="year-input" ng-model="selectedYear" ng-options="year for year in years"
                        data-value="year"></select>

            </div>
        </div>
    </div>
</nav>
<div class="calendar-body">
    <!--<div class="row week-block" data-ng-repeat="row in [0,1,2,3,4,5]">-->
            <!--<div data-ng-repeat="day in days" class="col-lg-1 day-block">-->
             <!--{{day.name}}{{dates[(row+1)*day.number]}}-->
            <!--</div>-->
    <!--</div>-->
<div class="row week-block" data-ng-repeat="jdx in [0,1,2,3,4,5]">
            <div data-ng-repeat="  idx in [jdx*7,jdx*7+1,jdx*7+2,jdx*7+3,jdx*7+4,jdx*7+5,jdx*7+6]" class="col-lg-1 day-block">
             {{day.name}}{{dates[idx]}}
            </div>
    </div>






</div>