<nav class="row navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 navbar-text">
                <label for="month-input">Month:</label>
                <select id="month-input" ng-model="selectedMonth" ng-options="month.name for month in months"
                        data-value="month.id"></select>


            </div>
            <div class="col-lg-8 navbar-text">
                <label for="year-input">Year:</label>
                <select id="year-input" ng-model="selectedYear" ng-options="year for year in years"
                        data-value="year"></select>

            </div>
        </div>
    </div>
</nav>
<div class="calendar-body">
    <div class="row week-block" data-ng-repeat="week in dates track by $index">
        <div class="col-lg-1 day-block" data-ng-repeat="date in week track by $index" date-block value="{{date}}" ng-class="{weekends:date.weekends}">

        </div>
    </div>
</div>